footer {
  padding: 72px 0 25px;
  border-top: 1px solid $theme_gray;

  @media (max-width: $md) {
    padding: 60px 0 25px;
  }

  @media (max-width: $sm) {
    padding: 50px 0 25px;
  }

  @media (max-width: $xs) {
    padding: 40px 0 25px;
  }

  .container {
    max-width: 1166px;
  }

  .top-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $lg) {
      flex-direction: column;
    }

    .f-menu {
      ul {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;

          a {
            color: $text_black;
          }
        }
      }

      & > ul {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $xs) {
          flex-direction: column;
        }

        & > li {
          font-size: 15px;
          max-width: 132px;
          font-weight: 400;
          font-family: $outfit;
          text-transform: uppercase;
          margin-right: 24px;

          @media (max-width: $lg) {
            margin-right: 20px !important;
            margin-bottom: 20px;
            max-width: none !important;
          }

          & > a {
            font-weight: 700;
            margin-bottom: 12px;
            display: inline-block;
            color: $text_black;

            &:hover {
              color: $theme_red;
            }
          }

          & > ul {
            & > li {
              font-size: 15px;
              margin-bottom: 6px;
              text-transform: none;

              &:last-of-type {
                margin-bottom: 0;
              }

              & > a {
                &:hover {
                  color: $theme_red;
                }
              }
            }
          }
        }
      }
    }

    .form-holder {
      transform: translateY(-2px);

      @media (max-width: $lg) {
        transform: none;
        margin-top: 20px;
      }

      @media (max-width: $xs) {
        margin-top: 5px;
      }

      & > span {
        font-size: 15px;
        display: block;
        margin-bottom: 9px;
        line-height: 18px;
      }

      form {
        width: 421px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $xs) {
          width: 100%;
        }

        @media (max-width: 380px) {
          flex-direction: column;
        }

        input[type="email"] {
          width: 304px;
          height: 42px;
          font-size: 18px;
          font-family: $source_sans3;
          color: $theme_gray;
          padding: 0 17px;
          border-radius: 0;
          outline: none;
          border: 1px solid $theme_gray;

          @media (max-width: $xs) {
            width: 100%;
            font-size: 16px;
            padding: 0 10px;
          }
        }

        input[type="submit"] {
          font-size: 16px;
          height: 42px;
          min-width: 114px;
          color: $white;
          border: 1px solid $theme_red;
          font-family: $outfit;
          font-weight: 700;
          background-color: $theme_red;
          transition: background-color $delay, color $delay;

          @media (max-width: 380px) {
            width: 100%;
            margin-top: 8px;
          }

          &:hover {
            color: $theme_red;
            background-color: rgba(0,0,0,0);
          }
        }
      }
    }
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -53px;
    margin-right: 3px;

    @media (max-width: $lg) {
      margin-top: 0;
      margin-right: 0;
    }

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      justify-content: flex-start;
    }

    & > span {
      text-transform: uppercase;
      font-size: 15px;
      font-family: $outfit;
      font-weight: 600;
      color: $theme_dark_blue;
      margin-right: 12px;
      transform: translateY(4px);
    }

    a {
      margin: 0 6px;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: $theme_dark_blue;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color $delay;

      @media (max-width: $xs) {
        width: 35px;
        height: 35px;
      }

      &:hover {
        background-color: $theme_red;
      }

      svg {
        display: block;

        path {
          fill: $white;
        }
      }

      &.facebook svg {
        width: 18px;
        height: 19px;

        @media (max-width: $xs) {
          width: 14px;
          height: 15px;
        }
      }

      &.twitter svg {
        width: 25px;
        height: 25px;

        @media (max-width: $xs) {
          width: 18px;
          height: 18px;
        }
      }

      &.instagram svg {
        width: 18px;
        height: 18px;

        @media (max-width: $xs) {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .bottom-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    transform: translateX(-11px);

    @media (max-width: $lg) {
      transform: none;
    }

    @media (max-width: $md) {
      flex-direction: column;
      margin-top: 40px;
    }

    @media (max-width: $sm) {
      margin-top: 20px;
    }

    .left-holder {
      display: flex;

      @media (max-width: $sm) {
        flex-direction: column;
      }

      .f-logo-holder {
        max-width: 240px;
        width: 100%;

        @media (max-width: $md) {
          max-width: 200px;
        }

        @media (max-width: $xs) {
          max-width: 180px;
        }

        img {
          width: 100%;
          display: block;
        }
      }

      .footer-addresses {
        width: 100%;
        margin-top: 3px;
        margin-left: 40px;
        display: flex;

        @media (max-width: $sm) {
          margin-left: 0;
          margin-top: 20px;
        }

        @media (max-width: $xs) {
          flex-direction: column;
        }

        .address {
          font-size: 15px;
          line-height: 21px;
          font-family: $outfit;
          color: $theme_dark_blue;
          margin-left: 35px;

          @media (max-width: $xs) {
            margin: 0 0 20px;

            &:last-of-type {
              margin: 0;
            }
          }

          &:first-of-type{
            margin-left: 0;
          }
        }
      }
    }

    .second-logo {
      transform: translateY(-23px) translateX(6px);

      @media (max-width: $lg) {
        transform: none;
      }

      @media (max-width: $md) {
        margin: 30px 0 0;

        img {
          max-width: 200px;
        }
      }

      @media (max-width: $xs) {
        margin: 20px 0 0;

        img {
          max-width: 180px;
        }
      }

      .text {
        font-size: 13px;
        font-family: $outfit;
        color: $theme_dark_blue;
        margin-top: 2px;
      }
    }
  }

  .copyright {
    font-size: 14px;
    margin-top: 25px;

    @media (max-width: $xs) {
      margin-top: 20px;
    }

    a {
      color: $text_black;

      &:hover {
        color: $theme_red;
      }
    }
  }
}