@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Source+Sans+3:wght@400;700&family=Lato&display=swap');

$outfit: 'Outfit', sans-serif;
$source_sans3: 'Source Sans 3', sans-serif;
$lato: 'Lato', sans-serif;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// colors
$white: #fff;
$black: #000;
$text_black: #545759;
$transparent: rgba(0,0,0,0);

// Theme color variables
$theme_red: #ac1c34;
$theme_dark_blue: #1e3060;
$theme_blue: #2196f2;
$theme_light_gray: #b2b3b6;
$theme_gray: #545759;
$theme_black: #000000;
$theme_white: #cccccc;

//BASE
$delay: 0.15s;