@import '../../src/scss/components/vars';

section.image-full-width {
  & > div {
    content: '';
    position: relative;
    width: 100%;
    height: 432px;
    background-size: cover;
    background-position: center;

    @media (max-width: $sm) {
      height: 350px;
    }

    @media (max-width: $sm) {
      height: 300px;
    }
  }
}