@import '../../src/scss/components/vars';

section.contact-address {
  padding: 100px 0;

  @media (max-width: $md) {
    padding: 90px 0;
  }

  @media (max-width: $sm) {
    padding: 70px 0;
  }

  @media (max-width: $xs) {
    padding: 50px 0;
  }

  .holder {
    display: flex;
    max-width: 1010px;
    margin: 0 auto;

    @media (max-width: $lg) {
      flex-wrap: wrap;
    }

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  .address {
    width: 100%;
    max-width: 250px;
    font-size: 20px;
    line-height: 30px;

    &:first-of-type {
      margin-right: 40px;
      margin-left: 100px;

      @media (max-width: $lg) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @media (max-width: $lg) {
      max-width: 50%;
      margin-bottom: 20px;
    }

    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 28px;
      max-width: 100%;
    }

    @media (max-width: $xs) {
      font-size: 16px;
      line-height: 26px;
    }

    h5 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 0;
    }
  }

  .btn-holder {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;

    @media (max-width: $lg) {
      margin-left: 0;
      margin-top: 40px;
    }

    @media (max-width: $sm) {
      margin-top: 0;
    }

    .custom-btn {
      min-width: 300px;

      @media (max-width: $sm) {
        min-width: 0;
      }
    }
  }
}